.result-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 12px 0;
  }

  button {
    padding: 12px 24px;
    cursor: pointer;
  }
}
